/*
$breakpoint argument choices:
-phone 600px
-tab-port 900px
-tab-land 1200px
-big-desktop 1800px
*/
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
  --fs-700: 1.75rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fw-400: 500;
  --fw-700: 700;
  --fw-900: 900; }

/*********************************************
**********************************************
GENERAL CSS, UNIVERSAL AND COMMON CSS 
*********************************************
**********************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (mix-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  overscroll-behavior-y: none;
  background-color: #fff; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*********************************************
**********************************************
FADE IN OUT ANIMATION ,*KEY FRAMES* IMPORTANT
*********************************************
**********************************************/
@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10.2rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movInRight {
  0% {
    opacity: 0;
    transform: translateX(-12rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes btnAnimation {
  0% {
    opacity: 0;
    transform: translateY(12rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 9.6rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 9.6rem !important; }

.body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden; }

.workout__form {
  transition: all 0.5s;
  transition-timing-function: ease; }

.hidden {
  opacity: 0 !important;
  z-index: 0 !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  transform: translateY(-40rem); }

.margin-hide {
  margin: 0; }

.transform {
  transform: translateX(-40rem);
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  z-index: 0 !important; }

.sidebar {
  grid-row: 2/20;
  grid-column: 2/8;
  background-color: var(--color-dark--2);
  opacity: 70%;
  transition: opacity 800ms;
  transition-timing-function: ease;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .sidebar:hover {
    opacity: 95%; }
  .sidebar__logo {
    max-width: 15.2rem;
    margin-bottom: auto;
    padding: 1rem;
    opacity: 100%; }

#map {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: var(--color-light--1);
  height: 100%;
  width: 100%;
  z-index: 5; }

.footer {
  padding: 2rem;
  margin-top: auto; }
  .footer p,
  .footer a {
    font-size: 1.2rem;
    color: var(--color-light--1);
    text-align: center;
    line-height: 1.5; }

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem; }

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem; }

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1); }

.Running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid blue; }

.Cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid red; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-color: var(--color-dark--1);
  z-index: 20;
  opacity: 100%;
  padding: 3rem;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem; }
  .form__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem; }
  .form__label {
    font-size: 1.5rem;
    font-weight: 600; }
  .form-input {
    width: 60%;
    height: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: var(--color-light--3);
    border: none; }
  .form__button {
    align-self: flex-end;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8rem 1.8rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
    background-color: var(--color-light--3);
    transition: all 800ms;
    transition-timing-function: ease; }
    .form__button:hover {
      background-color: var(--color-light--2); }

.workout__form {
  transition: all 1s;
  transition-timing-function: ease; }

.workout {
  z-index: 20;
  width: 95%;
  height: min-content;
  overflow-y: scroll;
  transition: transform 1s, opacity 800ms;
  transition-timing-function: ease; }
  .workout::-webkit-scrollbar {
    display: none; }
  .workout__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .workout__list-item {
      padding: 1rem 2rem;
      border-radius: 1.5rem;
      background-color: var(--color-dark--1); }
  .workout__Running {
    border-left: 5px solid blue; }
  .workout__Cycling {
    border-left: 5px solid red; }
  .workout__label {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left; }
  .workout__details {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem; }
  .workout__info {
    font-family: inherit;
    font-size: 1.5rem; }
  .workout__unit {
    font-size: 1.2rem;
    color: #868e96; }
  .workout__icon {
    font-size: 2rem; }
