.sidebar {
  grid-row: 2/20;
  grid-column: 2/8;
  background-color: var(--color-dark--1);
  opacity: 45%;
  transition: opacity 1s;
  transition-timing-function: ease;
  &:hover {
    opacity: 95%;
  }
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;

  &__logo {
    max-width: 15.2rem;
    margin-bottom: auto;
    padding: 1rem;
    opacity: 100%;
  }
}
