.sidebar {
  grid-row: 2/20;
  grid-column: 2/8;
  background-color: var(--color-dark--2);
  opacity: 70%;
  transition: opacity 800ms;
  transition-timing-function: ease;
  position: relative;
  &:hover {
    opacity: 95%;
  }
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;

  &__logo {
    max-width: 15.2rem;
    margin-bottom: auto;
    padding: 1rem;
    opacity: 100%;
  }
}
.resetAllWorkouts {
  position: absolute;
  top: 15%;
  right: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &__icon {
    font-size: 3rem;
    color: var(--color-brand--2);
    transition: color 800ms, scale 300ms;
    transition-timing-function: ease;
  }
  :hover {
    color: var(--color-brand--1);
    transform: scale(1.03);
  }
}
