.workout__form {
  transition: all 0.5s;
  transition-timing-function: ease;
}

.hidden {
  // display: none !important;
  // visibility: hidden !important;
  opacity: 0 !important;
  z-index: 0 !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  transform: translateY(-40rem);
}
.margin-hide {
  margin: 0;
}
.transform {
  transform: translateX(-40rem);
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  z-index: 0 !important;
}
