/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.Running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid blue;
}
.Cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid red;
}
