:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

  --fs-700: 1.75rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;

  --fw-400: 500;
  --fw-700: 700;
  --fw-900: 900;
}

$color-grey-light: #868e96;
$color-grey-medium: #495057;
$color-grey-dark: #343a40;

$color-background: #2d3239;
$gunmetal: #2d3239;

$black-light: #1c1f22;
$black-mediumdark: #121416;
$black-dark: #090a0b;

$color-white-honeydew-1: #ebfff8; //honeydew
$color-white-ivory-2: #e7ebef; //ivory
$color-white-lavender-3: #f3e2e6;
